nav {
  background-color: #c31432;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}

a.dropdown-item:hover {
  background-color: #c31432;
}

a.dropdown-item:active {
  background-color: black;
}
